body {	
	padding: 50px;
	font-family: "Roboto";
	background-color: #30323D;
	color: #A5A0A0;
	max-width: 1200px;
    margin: auto;
}

#title {
	font-family: "Oswald";
}

#border {
	background-color: #ad9334;
	width: 100%;
	height: 5px;
	margin: 0px;
	margin-top: 5px;
}

#page-title {
	margin-top: 25px;
	margin-left: 20px;
}

.logo {
	width: 40px;
	height: 40px;
	margin-top: 10px;
	margin-left: 10px;
}

.links {
	display: flex;
	flex-direction: row-reverse;
	max-height: 150px;
	flex-wrap: wrap;
	align-self: flex-end;
}

.local-link {
	margin-top: 27px;
    margin-right: 10px;
    color: #ad9334;
}

.local-link:hover {
	text-decoration: none;
	color: #e8c545;
}

.away-link {
    color: #ad9334;
}

.away-link:hover {
	text-decoration: none;
	color: #e8c545;
}

.project-card {
	border-radius: 0.5;
	margin: auto;
	margin-top: 20px;
	width: 100%;
	background-color: #4D5061;
	border-radius: 20px;
	padding: 20px;
	height: 575px;
}

.project-thumbnail {
	max-width: 100%;
	min-width: 100%;
}

.project-name {
	padding-top: 8px;
	margin-bottom: 7px;
}

.project-details {
}

.screenshot {
	width: 100%;
	height: auto;
	margin-top: 20px;
}

.project-paragraph {
	margin: auto;
	margin-top: 20px;
	width: 75%;
	background-color: #4D5061;
	border-radius: 10px;
	padding: 30px;
}

.bullets {
	font-size: 1.5rem;
	padding: 20px;
}

.small-font {
	font-size: 1.25rem;
}

.profile {
	max-width: 75%;
	border-color: #424242;
	border-width: thick;
	border-style: solid;
	margin-left: 12.5%;
}

@media (max-width:992px){
	#border {
		margin-top: 10px;
	}
	.local-link {
		font-size: 1.45rem;
	}
	.project-card {
		height: auto;
	}
	.logo {
		width: 60px;
		height: 60px;
	}
}

@media (max-width:895px){
	.links{
		max-width: 58%;
		left: 18%;
	}
}


